<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573930422878-uogh1ecue0cc0d8t3ndoq1gml1mcgsfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573930422878-uogh1ecue0cc0d8t3ndoq1gml1mcgsfa</string>
	<key>API_KEY</key>
	<string>AIzaSyCaQ6eEhgbIKOqLagBejABo2W3uVFeVT_I</string>
	<key>GCM_SENDER_ID</key>
	<string>573930422878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.code</string>
	<key>PROJECT_ID</key>
	<string>cloud-quick</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-quick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573930422878:ios:c2c51f6a7bb0a53706aacf</string>
	<key>DATABASE_URL</key>
	<string>https://cloud-quick-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>